((*- extends 'style_hu.tex.j2' -*))

((* block courseinfo *))
\colorlet{mycolor}{teal!30!gray}
\colorlet{mybackground}{teal!15!white}
\def\thecourse{P5 - Rechneranwendungen in der Physik}    
\def\thesemester{Sommersemester 2023}
((* endblock courseinfo *))
